body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-form {
    background-color: rgb(53, 60, 60);
    padding: 25px;
    width: 800px;
    margin: auto;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}